:root {
  --dark-gray: #202124;
}

body {
  margin: 0;
  font-family: 'Play', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-gray) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glitch-font {
  font-family: 'Rubik Glitch', system-ui;
}
